.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    border: 1px solid transparent;
    border-radius: 32px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.03) padding-box, linear-gradient(var(--angle), rgba(255, 255, 255, 0.03), #3c3c3c) border-box;
    box-shadow: inset 0px 4px 15px 2px rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(10px);
}

.form-container {
    opacity: 0;
    display: none;
}

.form-container.show {
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    display: block;
    opacity: 1;
}


/* w-[172px] h-[80px] s-button2 hero-item rounded-[32px] relative */

.hero-items {
    width: 172px;
    z-index: 1;
    height: 80px;
    border-radius: 32px;
    display: flex;
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #d4d4d4;
    border: 1px solid #0000;
    background: linear-gradient(#191919, #191919) padding-box, linear-gradient(var(--angle), rgba(255, 106, 0, 0), #343434) border-box;
    box-shadow: inset 0px 4px 25px 2px rgba(255, 255, 255, 0.04);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 1.2s ease-out forwards, rotate 3s linear infinite;
    ;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-items:hover {
    box-shadow: inset 0px 6px 30px 3px rgba(255, 255, 255, 0.08);
}

.hero-items:hover::before {
    opacity: 1;
    transform: translateY(0);
}

@keyframes rotate {
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.counter-item {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    width: calc(100%/5);
    text-align: center;
    align-items: center;
}

.counter-value {
    margin-bottom: -20px;
    font-size: 58px;
}