@media (max-width: 1024px) {
    header {
        justify-content: flex-end !important;
        position: sticky !important;
    }
    header>span:first-child {
        display: flex;
    }
    header>div:first-of-type {
        display: none;
    }
    header>div:last-of-type {
        display: none !important;
    }
    .nav-aside {
        display: block;
    }
    #landing-hero>div>button.s-button {
        width: 220px;
    }
    #header {
        padding: 30px 30px 0 30px !important;
    }
    #sidebar {
        backdrop-filter: blur(30px);
    }
    #hero-1 {
        top: 1vh !important;
        right: 10vw !important;
    }
    #hero-2 {
        top: 15vh !important;
        right: 20vw !important;
    }
    #hero-3 {
        top: 30vh !important;
        right: 10vw !important;
    }
    #hero-4 {
        top: 5vh !important;
        right: 60vw !important;
    }
    #hero-5 {
        top: 25vh !important;
        right: 60vw !important;
    }
}